<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css\style.css">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <script src="js\style.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Bonjour: {{ app.user.firstname }} </p>
        <p><a href="\logout">logout</a> </p>
        <p><a href="\profile">modifier profile</a></p>
    {% else %}

        <p><a href="\login">login</a> </p>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
